{% extends 'base.html' %}

{%block title %}
    {{title}}
{% endblock %}

{%block heading %}
    {{title}}
{% endblock %}

{% block body %}
    <form method="post">
        {% csrf_token %}
        <div class="control field">
            {{ form.name }}
        </div>
        <div class="control field">
            {{ form.location }}
        </div>
        <div class="control field">
            {{ form.acronym }}
        </div>
        <div class="control field">
            {{ form.contact }}
        </div>
        <div class="control field">
            <input class="button is-link" type="submit" value={{button}}>
        </div>
    </form>
    <br>
    {% if form.errors %}
        <article class="message is-danger">
            <div class="message-header">
                <p>Error</p>
            </div>
            <div class="message-body">
                {{form.errors}}
            </div>
        </article>
    {% endif %}
{% endblock %}
